body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.8em;
	background: #fff;
	overflow: scroll;
}

/*--Global Property--------------------------------------------*/

*{
	margin: 0;
	padding: 0;
}

p {padding: 5px 0;}

/*--Layout Property--------------------------------------------*/

#main {
	height: 100%;
	min-height: 724px;
	position: relative;
	overflow: hidden;
}
#main { height: 724px; overflow: visible;}
.container {
	margin: 0 auto;
	width: 100%;
	font-size: 1.2em;
}

#info{
	height: 540px;
	width: 100%;
}

/*--header Property---------------*/
#header {
	text-rendering: optimizeLegibility;
	padding: 4px 0 5px;
	box-shadow: 0 0 4px #555;
	position: relative;
	background: #E6E6E6;
	background: -moz-linear-gradient(top, #FEFEFE 0%, whiteSmoke 50%, #E6E6E6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(50%,whiteSmoke), color-stop(100%,#E6E6E6));
	background: -webkit-linear-gradient(top, #FEFEFE 0%,whiteSmoke 50%,#E6E6E6 100%);
	background: -o-linear-gradient(top, #FEFEFE 0%,whiteSmoke 50%,#E6E6E6 100%);
	background: -ms-linear-gradient(top, #FEFEFE 0%,whiteSmoke 50%,#E6E6E6 100%);
	background: linear-gradient(top, #FEFEFE 0%, whiteSmoke 50%, #E6E6E6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 );
	height: 90px;
	font-size: 12px;
}

/* OJT stuff */


.buttonLink {
	font-size: 20px;
}


.link {
	width: 300px;
	box-shadow: 5px 5px #DEDEDE;
}

.title {
	text-shadow: 1px 1px #facf95;
	font-size: 24px;
	padding-bottom: 20px;
}

.CHPTitle {
	font-size: 55px;
	padding-top: 50px;
}

.subTitle {
	font-size: 30px;
}

.trainingBody {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	margin: 0;
	border-radius: 4px;
	height: 100%;
	min-height: 1000px;
	color: #eb8f00;
	font-family: Verdana;
}


.accordionUI {
	padding-top: 20px;
}

.contentBody {
	padding-left: 100px;
	padding-top: 70px;
}

.contentSmall {
	width: 700px;
}

#materialBody {
	font-size: 16px;
	text-align: justify;
}

#categories {
	width: 40%;
	float: left;
	padding-left: 5%;
	padding-top: 75px;
}

#questions {
	width: 40%;
	float: right;
	padding-right: 5%;
	padding-top: 75px;
}

.categorySpan, .questionSpan{
	margin-left: 10px;
	margin-right: 10px;
}

.categoryForm {
	padding-top: 20px;
	width: 150px;
}

.questionForm {
	padding-top: 20px;
}

.questionsSpan {
	font-size: 16px;
}

.nextBtn {
	margin-top: 10px;
}

.treatmentText {
	font-size: 14px;
	padding-top: 20px;
}

.treatmentTitle {
	font-size: 18px;
	text-shadow: 1px 1px #facf95;
}

.matTitle {
	width: 100%;
}

.generalSymptom {
	padding-left: 50px;
}

#addGeneralSymptom {
	margin-left: 50px;
}

.gsDescr {
padding-left: 20px;
}

.box {
	border: 2px solid;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 10px;
	border-radius: 3px;
	padding-bottom: 10px;
	width: 700px;
}

.surroundDiv {
	padding-left: 40px;
	margin-left: 40px;
	border-left: solid 2px;
}

.addDiagnosis {
	margin-bottom: 100px;
}

.treatmentLbl {
	align-self: center;
	vertical-align: top;
}

.ask {
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.accordionUI, .treatmentArea, #questionLinkDiv {
	padding-top: 20px;
	border: 1px solid #fbd850;
	border-radius: 4px;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 40px;
	padding-bottom: 20px;
}